pipeline/ParentPipeline.json
{
	"name": "ParentPipeline",
	"properties": {
		"activities": [
			{
				"name": "ExecuteOnprem",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "onprem_ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"files": {
							"value": "@pipeline().parameters.file",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute API",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteOnprem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "API_Ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteIncreamental",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SQLToDataLake",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "FailureAlert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ExecuteIncreamental",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-09.southafricanorth.logic.azure.com:443/workflows/ecc7b027c2674439a5b809f25e1351fd/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=-nRtPFNxV1YZUugoQNevdBMbtgoyGv1EBUB5GwRSAms",
					"body": {
						"value": "{\n    \"pipeline_name\": \"@{pipeline().Pipeline}\",\n    \"run_id\": \"@{pipeline().RunId}\",\n    \"status\": \"@{activity('ExecuteIncreamental').Status}\",\n    \"error\": \"@{if(equals(activity('ExecuteIncreamental').Status, 'Failed'), string(activity('ExecuteIncreamental').error.message), 'No Error')}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"file": {
				"type": "array",
				"defaultValue": [
					{
						"file_name": "Dimpassenger.csv"
					},
					{
						"file_name": "DimAirline.csv"
					},
					{
						"file_name": "DimFlight.csv"
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-30T17:19:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}